/*******************************/
	All Responsive Code
	
	
/*--====--responsive css--====--*/
@media(max-width:1024px){
.slider h1 {
    font-size: 49px;
	}
.slider p {
    font-size: 20px;
}
}
@media(max-width:768px){
.slider h1{
	font-size:30px;
}
.testimonial h5{
		font-size:30px;
}
.about-left img{
	margin-bottom:55px;
}
}
@media(max-width:991px){
	.slider h1 {
    font-size: 40px;
}
}	
@media(max-width:729px){
	.slider h1 {
    font-size: 36px;
}
}	
@media(max-width:320px){
	.text h2 {
    font-size: 16px;
}
.skill p {
    font-size: 15px;
}
element {
}
.top h1 {
    font-size: 38px;
}
.skill-top h6 {
    font-size: 30px;
}
.slider h1 {
    font-size: 15px;
}
.slider p {
    font-size: 8px;
}
.slider p {
    font-size: 8px;
}
.slider p {
    line-height: 14px;
}
.underline h2 {
    font-size: 24px;
}
.isotope p {
    font-size: 14px;
   }
element {
}
.slider a {
    font-size: 7px;
}
.about-top h2 {
    font-size: 27px;
}
.button{
	font-size:7px;
}
.about-top h3 {
    font-size: 21px;
  
}
.about-top p{
	    font-size: 21px;
}
}	
	
/*******************************/